body {
    background: #050505 url(../img/img01.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: #5b5b5b;
}

h1,
h2
h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.4em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.6em;
    text-transform: uppercase;
}

#wrapper {
    width: 100%;
    background: #ffffff url(../img/img05.jpg) repeat;
}

/* Header */
#header {
    width: 90%;
    margin: auto;
}

/* Logo */
#logo h1 {
    letter-spacing: -2px;
    font-size: 3.8em;
}

#logo a {
    text-decoration: none;
    color: #000000;
}

/* Menu */
#menu {
    width: 100%;
    margin: auto;
}

#menu ul {
    list-style: none;
}

#menu li {
    margin: 50px 0;
}

#menu a {
    padding: 25px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    color: #1f1f1f;
}

#menu a:hover,
#menu .current_page_item a {
    background: url(../img/img01.jpg) repeat;
    text-decoration: none;
    color: #ffffff;
}

/* Banner */
#banner img {
    width: 100%;
    background: url(../img/img03.png);
    margin: auto;
}

/* Content */
#content {
    width: 90%;
    margin: auto;
}

#content p {
    padding: 0 20px;
}

.post {
    margin-bottom: 40px;
    border-bottom: 1px solid #e7ebed;
}

.post .title {
    padding-top: 7px;
    letter-spacing: -1px;
}

.post .title a {
    text-decoration: none;
    color: #222222;
}

.post .meta {
    margin-bottom: 30px;
    padding-top: 10px;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.post .meta .date {
    float: left;
}

.post .meta .posted {
    float: right;
}

.post .entry {
    padding-bottom: 40px;
    text-align: justify;
}

.links {
    padding-top: 20px;
    margin-bottom: 30px;
}

.more,
.comments {
    float: left;
    width: 88px;
    padding: 5px;
    margin-right: 10px;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

/* Sidebar */
#sidebar ul {
    margin: auto;
    list-style: none;
}

#sidebar li {
    line-height: 40px;
}

#sidebar h2 {
    letter-spacing: -0.5px;
    font-size: 1.8em;
    color: #222222;
}

/* Footer */
#footer {
    margin: auto;
    padding: 15px 0;
    font-family: 'Abel', sans-serif;
}

#footer p {
    letter-spacing: 1px;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    color: #5e5e5e;
}
